<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor del Festival FLORA Córdoba</title>
</head>
<body>
    <h1>Gestor del Festival FLORA Córdoba</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'artist_list' %}">Listado de Artistas</a></li>
            <li><a href="{% url 'installation_list' %}">Listado de Instalaciones</a></li>
            <li><a href="{% url 'venue_list' %}">Listado de Venues</a></li>
            <li><a href="{% url 'edition_list' %}">Listado de Ediciones</a></li>
        </ul>
    </nav>
</body>
</html>
